:root {
  --el-color-primary: #a5d63f;
  --el-color-primary-light-3: rgb(165, 214, 63, 0.9);
  --el-color-primary-light-5: rgb(165, 214, 63, 0.7);
  --el-color-primary-light-7: rgb(165, 214, 63, 0.5);
  --el-color-primary-light-9: rgb(165, 214, 63, 0.1);
  --el-color-primary-dark-2: rgb(165, 214, 63);
  --header-height: 7.5vh;
}